@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap');

body{
  background-color: #001E3C;
  color: #FFF;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h3{
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.form-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
}

.form-container form input{
  margin: 2% auto;
  width: 80%;
  height: 2rem;
  display: block;
  border: 2px solid #c6c6c6;
  background-color: transparent;
  border-radius: 100px;
  text-align: center;
  color: #FFF;
}

.form-container form input::placeholder{
  color:#ffffff63
}


.form-container form button{
  margin: 4% auto;
  width: 40%;
  height: 2rem;
  display: block;
  border: 2px solid #c6c6c600;
  background-color: #0075EA;
  color: #fff;
  font-weight: 700;
  border-radius: 100px;
  text-align: center;
}


.form-container form button:hover{
  margin: 4% auto;
  width: 40%;
  height: 2rem;
  display: block;
  border: 2px solid #ffffff;
  background-color: #338ef5;
  border-radius: 100px;
  text-align: center;
}

.d-none{
  display: none;
}

.container{
  display: flex;
  width: 80%;
  flex-direction: column;
  
}

.chat-window::-webkit-scrollbar {
  display: none;
}

.chat-window{
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-header{
  text-align: left;
  font-weight: 700;
  font-size: 2rem;
}

.chat-body{
  width: 90%;
  height: 65vh;
}

.chat-footer{
  width: 90%;
  margin-top: 1%;
  align-items: center;
  text-align: center;
}

.chat-footer input{
  width: 89%;
  height: 2.2rem;
  font-size: 1.1rem;
  color: #FFF;
  background-color: transparent;
  padding: 0 1%;
  border: 2px solid #fff;
  border-radius: 100px;
}
.chat-footer button{
  width: 7%;
  height: 2.4rem;
  border: 2px solid #fff;
  color: #fff;
  margin-left: .6%;
  background-color: #0075EA;
  border-radius: 146px;
}

.message{
  background-color: #338ef5;
  margin: 3%;
  width: 60%;
  padding: 1px 2%;
  border-radius: 2% 2% 2% 2%;
  padding-top: 0.1px;
}

.msg-author{
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1rem;
}

.msg-author h4{
margin: 2.6% 0;
}

.msg-content{
  margin-top: -1.8%;
  font-size: 1.1rem;
  line-height: 1rem;
  word-wrap: break-word;
}
.msg-content p{
  margin: 0.7%;
  margin-top: 3.9%;
}

.msg-date{
  font-size: 0.9rem;
  line-height: 1rem;
  margin-bottom: 3%;
  margin-left: 0.7%;
}

#you {
  text-align: end;
  margin-left: auto;
  margin-right: 2%;
  background-color: #003f7e;

}

#you .msg-content{
  
}

#you .msg-date{
  text-align: end;
}

#other{
  justify-content: flex-end;
}

#other .msg-content{
  justify-content: flex-end;
}

#other .msg-date{
  justify-content: flex-end;
}